.wrapper {
  background-color: #171717;
  padding-bottom: 150px;
  font-family: "Gilam", sans-serif;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
/* HEADER */
.header {
  padding: 50px 0;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-btn::before {
  content: "";
  height: 13px;
  width: 13px;
  display: inline-block;
  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  padding: 0px 0px 0px 25px;
}
.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
  padding: 10px 25px;
  color: #e4b564;
}
/* MAIN */
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(../images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.services-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 40px 0;
}

.services-list-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 25px;
}
.services-item {
  text-align: center;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 468px;
}
.services-item:first-child {
  grid-column: span 2;
  background-color: #634f2c;
}
.services-item:nth-child(2) {
  grid-column: span 2;
  background-color: #b4a385;
}
.services-item:nth-child(3) {
  grid-column: span 2;
  background-color: #e4b564;
}
.services-item:nth-child(4) {
  grid-column: span 3;
  background-color: #635a4a;
}
.services-item:last-child {
  grid-column: span 3;
  background-color: #b08c4d;
}

.service-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

/* Benefits */
.benefits {
  padding: 100px 0;
  background-image: url(../images/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.benefits-title {
  margin-bottom: 70px;
}
.benefits-list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    "item1 item2 item6"
    "item4 item2 item6"
    "item4 item5 item6"
    "item4 item5 item7"
    "item4 item5 item7";
  gap: 30px;
}
.benefits-item {
  min-width: 467px;
  flex: 25%;
  max-width: 33.3%;
}
.benefits-item:first-child {
  background-color: #0e0e0e;
  min-height: 313px;
  grid-area: item1;
}
.benefits-item:nth-child(2) {
  background-color: #242424;
  min-height: 439px;
  grid-area: item2;
}
.benefits-item:nth-child(3) {
  background-color: #1f1f1f;
  min-height: 255px;
  grid-area: item3;
}
.benefits-item:nth-child(4) {
  background-color: #1f1f1f;
  min-height: 560px;
  grid-area: item4;
}
.benefits-item:nth-child(5) {
  background-color: #e4b564;
  min-height: 405px;
  grid-area: item5;
  margin-bottom: 20px;
}
.benefits-item:nth-child(6) {
  background-color: #0e0e0e;
  min-height: 313px;
  grid-area: item6;
}
.benefits-item:nth-child(7) {
  background-color: #0a0909;
  min-height: 277px;
  grid-area: item7;
}

.benefit-link {
  display: block;
  padding: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.benefit-link span {
  display: block;
  font-weight: 700;
}
.benefit-link-color {
  color: #000000;
}
/* Projects */
.projects {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(../images/header-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.projects-list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 782px;
}
.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 80px;
}
.project-item:first-child,
.project-item:last-child {
  background-color: #634f2c;
}
.project-item:nth-child(2) {
  background-color: #e8d2ab;
}
.project-item:nth-child(3) {
  background-color: #e4b564;
}
.project-item:nth-child(4) {
  background-color: #635a4a;
}
.project-item:nth-child(5) {
  background-color: #b08c4d;
}
.project-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo2 {
  margin-bottom: 15px;
}
.logo-text {
  display: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.logo-text span {
  font-weight: 400;
  font-size: 22px;
  display: block;
}
.project-item:nth-child(2):hover .logo-text {
  display: block;
}
